@import "~@/style/main.styl"
header
  background-color $main-dark
  color $main-light
  line-height 75px
  text-align center
  box-shadow(3px)
  ul
    display flex
    justify-content center
    li
      padding 0 3*$main-padding
      cursor pointer
